@model NeutralNews.Models.EmailFormModel

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InputEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InputEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
</div>
@RenderBody()